*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

.sobre{
    width: 90%;
    margin: 40px auto;
    background: black;
    color: white;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.4);
}

.contenido{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.texto{
    width: 45%;
}

.texto h1{
    font-size: 70px;
    color: #d4a24c;
    margin-bottom: 30px;
    line-height: 1.1;
}

.texto p{
    font-size: 20px;
    line-height: 1.8;
    font-family: monospace;
}

.imagen{
    width: 50%;
    text-align: center;
}

.imagen img{
    width: 100%;
    max-width: 600px;
}

.estadisticas{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border: 1px solid #d4a24c;
}

.card{
    padding: 40px 20px;
    text-align: center;
    border-right: 1px solid #d4a24c;

     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card:last-child{
    border-right: none;
}

.card img{
    width: 90px;
    height: auto;
    margin-bottom: 20px;
}

.card h2{
    color: #d4a24c;
    margin-bottom: 10px;
    font-size: 35px;
}

.card p{
    font-size: 14px;
    letter-spacing: 2px;
}