*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: Arial, Helvetica, sans-serif;
}

body{
background: #0A0A0A;
color:white;
}

a { 
    text-decoration:underline;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding: 15px 30px;
background: #0A0A0A;
border-bottom:1px solid #0A0A0A;
}

.menu{
display:flex;
align-items:center;
justify-content:space-between;
width:100%;
height: 20px;
}

.menu-derecha{
display:flex;
align-items:center;
gap:40px;
}

.menu ul{
display:flex;
align-items:center;
list-style:none;
gap:50px;
margin:0;
padding:0;
}

.menu ul li a{
text-decoration:none;
color:#ccc;
font-weight:600;
letter-spacing:1px;
}

.menu ul li.activo a{
color:#D0A052;
border-bottom:2px solid #D0A052;
padding-bottom:5px;
}

.logo img{
width: 45px;    
}

nav ul{
display:flex;
list-style:none;
gap:40px;
font-weight:600;
}

nav ul li{
cursor:pointer;
color:#ccc;
}

nav ul li.activo{
color:#D0A052;
}

.icono-whatsapp img{
width: 25px;
height: 25px;
cursor:pointer;
}

.icono-user img{
width: 25px;
height: 25px;
cursor:pointer;
}

/* INICIO */

.inicio{
height:80vh;
display:flex;
align-items:center;
padding-left:80px;
background-image:url("../img/Porsche\ 911\ GT3\ RS\ -\ gold.png");
background-size:cover;
background-position:right center;
}

.contenido-inicio{
    max-width: 500px;
    margin-left: -20px;
    margin-top: -30px;
    position:relative;
    z-index: 1;
}


.overlay-inicio{
    position: absolute;
    top: 18%;
    left: 0;
    width: 38%;
    height: 34%;
    background: rgba(10, 10, 10, 0.3);
    z-index: 1;
    margin-left: 20px;
}

.inicio h1{
font-size:70px;
letter-spacing:4px;
}

.inicio h1 span{
color:#D0A052;
}

.inicio h3{
margin-top:20px;
font-weight:500;
letter-spacing:3px;
margin-left: 5px;
}

.inicio p{
margin-top:20px;
width: 70%;
color:#ccc;
line-height:1.6;
font-family: monospace;
font-size: 14px;
margin-left: 5px;
}

/* BOTON */
button a{
color: #D0A052;
text-decoration:none;
}

button img{
    width: 15px;
    margin-left: 20px;
    padding-right: 1px;
}

.btn-catalogo{
margin-top: 90px;
padding: 12px 12px 12px 20px;
background:transparent;
border:2px solid #D0A052;
border-radius: 5px;
color:#D0A052;
font-weight:bold;
cursor:pointer;
transition:0.3s;
text-decoration:none;
margin-left: 5px;
}

.btn-catalogo a{
text-decoration:none;
color:#D0A052;
}

.btn-catalogo:hover{
background:#D0A052;
color:#0A0A0A;
}

.btn-catalogo:hover a{
background:#D0A052;
color:#FFFFFF;
text-decoration:none;
}

/* CARACTERISTICAS */

.caracteristicas{
margin: 20px 40px;
border:1px solid #D0A052;
border-radius: 8px;
padding:30px;
display:flex;
justify-content:space-between;
align-items: center;
}

.caracteristica{
display: flex;
flex: 1;
text-align:left;
gap: 15px;
padding: 0 20px 0 20px;
}

/* lineas separadoras */
.caracteristica:not(:last-child){
border-right: 1px solid #D0A052;
}

.caracteristica img{
width: 40px;
height: 40px;
margin-bottom: 15px;
margin-top: 10px;
}

.caracteristica i{
font-size:28px;
color:#D0A052;
margin-bottom:10px;
}

.caracteristica h4{
margin-bottom:10px;
letter-spacing:1px;
color:#D0A052;
}

.caracteristica p{
color: white;
}